* {
    padding: 0;
    margin: 0;
    font-family: sahel;
}

.header {
    background-image: url(../img/space-desk-workspace-coworking.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 405px;
}

body {
    overflow-x: hidden;
    padding: 0 0px;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-brand p {
    display: inline;
    margin: 0 7px 0 20px;
}

.navbar-nav li a {
    float: left;
    text-align: right;
}

#nav-bar ul li a {
    color: #666 !important;
}

#nav-bar ul li a:hover {
    color: #007bff !important;
}

.navbar {
    background-color: #fff;
}

.nav-bar .toggler {
    border: none !important;
}

.nav-link {
    color: #555 !important;
    font-size: 16px;
    font-weight: 600;
}

#slider {
    width: 100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}

.carousel-item img {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.carousel-caption h5 {
    color: #fff;
    font-size: 42px;
}

#about {
    padding-top: 40px;
    padding-bottom: 50px;
    color: #555;
}

#about .btn {
    margin-top: 20px;
    margin-bottom: 30px;
}

#about h2::after {
    content: '';
    background: #007bff;
    width: 124px;
    height: 3px;
    margin: 20px -8px 5px 0px;
    display: block;
}

.about-content {
    padding-top: 20px;
}

.skills-bar {
    margin-top: 64px;
}

.skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}

.progress-bar {
    border-radius: 16px;
}

.progress {
    border-radius: 16px !important;
    margin-bottom: 20px;

}

#services {
    background-image: linear-gradient(rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.8)),
        url(../img/space-desk-workspace-coworking.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h2::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

#services h2 {
    text-align: center;
}

.services {
    margin-top: 40px;
}

.icon {
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#services p {
    margin-top: 20px;
    font-size: 14px;
    color: #cccccc;
}

.services .col-md-3:hover {
    cursor: pointer;
    background: #007bff;
    transition: all 0.6s;
    border-radius: 25px;
}

.services .col-md-3 {
    border-radius: 30px;
}

#team {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#team h2 {
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

#team h2::after {
    content: '';
    background: #007bff;
    margin: 20px auto 5px;
    width: 170px;
    height: 3px;
    display: block;
}

.profile-pic {
    margin-top: 25px;
}

.profile-pic .img-box {
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img {
    filter: grayscale(1);
}

.profile-pic .img-box img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h3 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
    color: #007bff !important;
}

.profile-pic h4 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 19px;
}

.profile-pic h5 {
    font-size: 19px;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-instagram,
.fa-telegram {
    text-align: center;
    padding: 5px;
    color: #007bff;
    background: #fff;
    border-radius: 20px;
    font-size: 30px;
    margin: 0;
}

.img-box ul {
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}


.img-box ul li {
    display: inline-block;
}

.img-box:hover ul {
    opacity: 1;
}

.img-box ul,
.img-box ul li {
    transition: all 0.5s;
}

.img-box img {
    width: 100%;
    height: 320px;
}

#promo {
    padding: 100px;
    font-size: 38px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/jungle.jpg);
    color: #fff;
}

#price .container h2::after {
    content: '';
    background: #007bff;
    margin: 20px auto 5px;
    width: 170px;
    height: 3px;
    display: block;
}

#price {
    padding: 40px 0;
    background: #efefef;
    text-align: center;
}

#single-price {
    background-color: #fff;
    transition: 0.5s;
    padding-bottom: 20px;
}

#single-price:hover {
    box-shadow: 0px 0px 15px 0px rgba(46, 50, 227, 0.81);
    cursor: pointer;
    padding-bottom: 20px;
}

.price-head {
    background-color: #2196f3;
    display: inline;
    float: right;
    padding: 10px 5px;
    width: 100%;
}

.price-head h2 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    padding: 10px;
    text-transform: capitalize;
}

.price-head p {
    color: #ccc;
    font-weight: bold;
    font-size: 25px;
    line-height: 0px;
    position: relative;
    margin-top: 15px;
}

#price span {
    font-size: 15px;
}

.price-content {
    display: inline;
    float: right;
    width: 100%;
    padding: 0 15px;
}

.price-content ul li {
    list-style: none;
    padding: 10px 15px;
}

.price-content ul li::after {
    content: '';
    background: #007bff;
    margin: 3px auto 2px;
    width: 200px;
    height: 3px;
    display: block;
}

.fa-check-circle {
    float: left;
    position: absolute;
    left: 73px;
    color: green;
    font-size: 20px;
}

.fa-times-circle {
    float: left;
    position: absolute;
    left: 73px;
    color: red;
    font-size: 20px;
}

.price-button a {
    padding: -1px 15px 30px;
    margin-bottom: 5px;
    display: inline;
    top: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.buy-btn {
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 50px;
    transition: 0.5s;
    font-size: 18px;


}

.buy-btn:hover {
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}

#testimonials h2::after {
    content: '';
    background: #007bff;
    margin: 20px auto 5px;
    width: 170px;
    height: 3px;
    display: block;
}

#testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
}

#testimonials .row {
    margin-top: 30px;
}

.col-md-4 {
    margin: 40px auto;
}

.profile {
    padding: 70px 10px 10px;
    background-color: #efefef;
    transition: 0.8s;
}

.profile img {

    position: absolute;
    top: -60px;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}

.user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile h3 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
    color: #007bff !important;
    text-align: center;
}

.profile h4 {
    text-align: center;
    color: #333 !important;
    padding-bottom: 10px;
}

.container .aa p {
    margin: 20px auto 6px;
}

blockquote {
    font-size: 16px;
    line-height: 35px;
    text-align: right;
}

.fa-quote-left {
    font-size: 15px;
    color: #007bff;
    line-height: 20px;
    position: relative;
    top: -12px;
}

.fa-quote-right {
    content: '';
    font-size: 15px;
    color: #007bff;
    margin-right: 5px;
    line-height: 20px;
    position: relative;
    top: -10px;
}

.profile:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
}

#contact h2::after {
    content: '';
    background-color: #007bff;
    width: 170px;
    height: 3px;
    display: block;
    margin: 20px auto 5px;
}

#contact {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #efefef;
    color: #555;
}

.contact-form {
    padding: 15px;
}

.follow {
    padding: 10px;
    margin: 15px;
    background: #fff;
    text-align: right;
}

.fa-map-marked-alt,
.fa-phone,
.fa-envelope {
    margin: 0 0px 0 10px;
    font-weight: bold;
    color: #007bff;
}

.contact-form label {
    float: right;
    font-weight: bold;
}

.contact-form input {
    margin-bottom: 12px;
}

.contact-info {
    margin-top: 30px;
}

footer {
    padding: 17px 0 5px 0;
    background-color: #333;
    color: #fff;
}

.fa-heart {
    margin: -1px 3px;
    color: red;
}

.fa-coffee {
    margin: -1px 3px;
    color: #976846;
}

footer>p {
    margin-bottom: 5px;
    font-size: 16px;
}


.video-background {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;

}